<div class="card">
    <div class="card-header">
        <h5 class="card-title" th:text="${title}"></h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label th:attr="for=${id} + 'equipment'" class="form-label">Equipment</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'equipment', name=${propertyPath} + 'equipment'" required maxlength="10">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'manufactureDate'" class="form-label">Manufacture Date</label>
            <input type="date" class="form-control" th:attr="id=${id} + 'manufactureDate', name=${propertyPath} + 'manufactureDate'" required>
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'loaded'" class="form-label">Loaded</label>
            <input type="checkbox" class="form-check" th:attr="id=${id} + 'loaded', name=${propertyPath} + 'loaded'" value="true">
        </div>
        <div class="mb-3" th:attr="id=${id} + 'CargoSealsContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addTextInput?fieldLabel=Cargo Seal&propertyPath=' + ${propertyPath} + 'cargoSeals', hx-target='#' + ${id} + 'CargoSealsContainer', hx-vals='js:{count: $(\'#' + ${id} + 'CargoSealsContainer\').find(\'.form-control\').length}'" hx-swap="beforeend">Add Cargo Seal</a>
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'desiredTemperature'" class="form-label">Desired Temperature</label>
            <input type="number" step="1" class="form-control" th:attr="id=${id} + 'desiredTemperature', name=${propertyPath} + 'desiredTemperature'">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'desiredHumidity'" class="form-label">Desired Humidity</label>
            <input type="number" step="1" class="form-control" th:attr="id=${id} + 'desiredHumidity', name=${propertyPath} + 'desiredHumidity'">
        </div>
        <div class="mb-3" th:attr="id=${id} + 'InspectionReportContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addInspectionReport?propertyPath=' + ${propertyPath}, hx-target='#' + ${id} + 'InspectionReportContainer', hx-vals='js:{count: $(\'#' + ${id} + 'InspectionReportContainer\').find(\'.inspectionReport\').length}'" hx-swap="beforeend">Add Inspection</a>
        </div>
        <div class="mb-3" th:attr="id=${id} + 'MachineryInfoContainer'">
            <a href="#" class="btn btn-success" th:attr="hx-get='/client/tag/addMachineryInfo?title=Machinery Info&propertyPath=' + ${propertyPath} + 'machineryInfo.' + '&id=' + ${id}, hx-target='#' + ${id} + 'MachineryInfoContainer'" hx-swap="innerHtml">Add Machinery Info</a>
        </div>
        <div class="mb-3" th:attr="id=${id} + 'ChassisInfoContainer'">
            <a href="#" class="btn btn-success" th:attr="hx-get='/client/tag/addChassisInfo?title=Chassis Info&propertyPath=' + ${propertyPath} + 'chassisInfo.' + '&id=' + ${id}, hx-target='#' + ${id} + 'ChassisInfoContainer'" hx-swap="innerHtml">Add Chassis Info</a>
        </div>
        <div class="mb-3" th:attr="id=${id} + 'GensetInfoContainer'">
            <a href="#" class="btn btn-success" th:attr="hx-get='/client/tag/addGensetInfo?title=Genset Info&propertyPath=' + ${propertyPath} + 'gensetInfo.' + '&id=' + ${id}, hx-target='#' + ${id} + 'GensetInfoContainer'" hx-swap="innerHtml">Add Genset Info</a>
        </div>
    </div>
</div>