<div class="card">
    <div class="card-header">
        <h5 class="card-title" th:text="${title}"></h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label th:attr="for=${id} + 'companyId'" class="form-label">Company Id</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'companyId', name=${propertyPath} + 'companyId'" th:required="${!isExternalParty} ? 'required' : null" maxlength="9" pattern="^[A-Z0-9]{9}$">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'code'" class="form-label">Code</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'code', name=${propertyPath} + 'code'" maxlength="10">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'userCode'" class="form-label">User Code</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'userCode', name=${propertyPath} + 'userCode'" maxlength="16">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'userName'" class="form-label">User Name</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'userName', name=${propertyPath} + 'userName'" maxlength="70">
        </div>
        <div class="mb-3" th:attr="id=${id} + 'FaxContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addTextInput?fieldLabel=Fax&propertyPath=' + ${propertyPath} + 'faxNumber', hx-target='#' + ${id} + 'FaxContainer', hx-vals='js:{count: $(\'#' + ${id} + 'FaxContainer\').find(\'.form-control\').length}'" hx-swap="beforeend">Add Fax Number</a>
        </div>
        <div class="mb-3" th:attr="id=${id} + 'PhoneNumberContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addTextInput?fieldLabel=Phone&propertyPath=' + ${propertyPath} + 'phoneNumber', hx-target='#' + ${id} + 'PhoneNumberContainer', hx-vals='js:{count: $(\'#' + ${id} + 'PhoneNumberContainer\').find(\'.form-control\').length}'" hx-swap="beforeend">Add Phone Number</a>
        </div>
        <div class="mb-3" th:attr="id=${id} + 'EmailContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addTextInput?fieldLabel=Email&propertyPath=' + ${propertyPath} + 'emailAddress', hx-target='#' + ${id} + 'EmailContainer', hx-vals='js:{count: $(\'#' + ${id} + 'EmailContainer\').find(\'.form-control\').length}'" hx-swap="beforeend">Add Email Address</a>
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'name'" class="form-label">Name</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'name', name=${propertyPath} + 'name'" maxlength="150">
        </div>
        <div class="mb-3" th:attr="id=${id} + 'StreetAddressContainer'">
            <a href="#" class="btn btn-success mb-2" th:attr="hx-get='/client/tag/addTextInput?fieldLabel=Street Line&propertyPath=' + ${propertyPath} + 'streetAddress', hx-target='#' + ${id} + 'StreetAddressContainer', hx-vals='js:{count: $(\'#' + ${id} + 'StreetAddressContainer\').find(\'.form-control\').length}'" hx-swap="beforeend">Add Street Address Line</a>
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'city'" class="form-label">City</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'city', name=${propertyPath} + 'city'" maxlength="28">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'country'" class="form-label">Country</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'country', name=${propertyPath} + 'country'" maxlength="2">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'postalCode'" class="form-label">Postal Code</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'postalCode', name=${propertyPath} + 'postalCode'" maxlength="20">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'stateProvince'" class="form-label">State / Province</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'stateProvince', name=${propertyPath} + 'stateProvince'" maxlength="20">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'licensePlate'" class="form-label">License Plate</label>
            <input type="text" class="form-control" th:attr="id=${id} + 'licensePlate', name=${propertyPath} + 'licensePlate'" maxlength="14">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'latitude'" class="form-label">Latitude</label>
            <input type="number" step="0.000000000000001" class="form-control" th:attr="id=${id} + 'latitude', name=${propertyPath} + 'latitude'">
        </div>
        <div class="mb-3">
            <label th:attr="for=${id} + 'longitude'" class="form-label">Longitude</label>
            <input type="number" step="0.000000000000001" class="form-control" th:attr="id=${id} + 'longitude', name=${propertyPath} + 'longitude'">
        </div>
    </div>
</div>